 
 

.container-fluid .body-size {
	max-width: 1152px;;
	min-width: 992px;
	display: block;
	position: relative;
	height: 1640px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
	 
}
    
.container-fluid {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}



 
	
	.row {
		margin-left: -15px;
		margin-right: -15px;
		position:relative;
		
	}

.yellow {
	background-color: #FCC800;
	height: 210px;
	overflow: hidden;
	padding-bottom: 10px;
	width: 100%;
	
}

.transparent {
	background-color: rgba(255, 255, 255, 0.5);
	/*margin: 5px auto 0 auto;
	max-width: 940px;*/
	margin-top: 55px;
	margin-bottom: 50px;
	padding-top: 15px;
	padding-bottom: 20px;
	overflow: hidden;
	
	
}

.head-width {
	float: none;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    margin-top: 8px;
    margin-bottom: 8px;
    
	/*float: none;
	margin-right: 106px;
	margin-left: 106px;
	max-width: 934px;
	height: 225px;
	margin-bottom: 0px;
    margin-top: 8px;*/
	
}
.transparent h1{
	font-size: 64px;
	font-weight: 100;
	line-height: 50px;
	color: #58595b;
	margin-top:75px;
	margin-bottom: 10px;
	padding-bottom: 25px;
	
}


/*.demo {
	background-color: #4D9CDC;
	color: white;
	border-radius: 0px;
	margin-top: -90px;
	font-size: 14px;
	font-weight: 100;
	word-spacing: 5px;
}

.btn_datasheet_uk {
	background-color: #4D9CDC;
	color: white;
	border-radius: 0px;
	font-size: 14px;
	font-weight: 100;
	word-spacing: 5px;
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}
.btn_datasheet_fr {
	background-color: #4D9CDC;
	color: white;
	border-radius: 0px;
	font-size: 14px;
	font-weight: 100;
	word-spacing: 5px;
	padding: 10px 20px;
}
.btn_datasheet_fr:hover {
	background-color: #357ebd;
	color: white;
	text-decoration: none;
}


.sustain {
	margin-top: 15px;
	width: 80%;
	font-size: 16px;
	font-weight: 100;
	line-height: 21px;
	color: #58595b;

}

.social_d {
	font-size: 16px;
	font-weight: 100;
	line-height: 21px;
	color: #58595b;
	margin-bottom: 20px;
}*/

h3 {
	font-size: 32px;
	font-weight: 100;
	color: #58595b;
	margin-left: 60px;

}

.padding_reset {
	padding-left: 0;
	padding-right: 15px;
	
}



html, body{
	margin: 0px;
	padding-top: 0px;
	height: 98%;
}



*.col-xs-4 {
	width: 33.33333333333333%;
}

background-color: #F5F5F5;
     width:320px;
     margin-left: 118px;
     height: 540px;
     position:relative;
     margin-bottom: 10px;
     padding-bottom:0 px;     
     float: left;
* .gblock {
	 width: 20em;
	 background-color: #F5F5F5;
     margin-left: 118px;
     height: 540px;
     position:relative;     
     float: left;
	 margin-top: 10px;
	 position:relative;
	 height: 540px;
}

footer#global{
	clear: both;
	margin-top: 10px;
}

 * h2 {
    background-color:  #D5D6DB;
    font-size: 21px;
	font-weight: 500;
	margin-left:0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 25px 0px 0px 33px;
	color: #58595b;
	height: 71.5px;
	text-align: left;
    
}
 .gblock, h3 {
	font-size: 18px;
	font-weight: bold;
	margin-left: 30px;
}
.gblockb,.gblockc,.gblocke, h2{
	font-weight: bold;
}


       p {
	font-size: 16px;
	font-weight: 100;
	line-height: 21px;
	color: #58595b;
	padding: 10px 0px 0px 0px;
	text-align:left;
	margin-bottom: 10px;
	margin-left: 30px;
}

	 

/*
*.paragraph {
   font-weight: 0;
   padding-top: 15px;
}
 


.s_block_fr{
	height:730px;
}




       #activity {
	padding-top: 22px;
}




.s_block_fr p{
	padding: 0px 25px;
}

.s_block img {
	width: 100%;
	border: 1px solid #D1D1D1;
}

            {
	font-size: 16px;
	font-weight: 100;
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #2e95d7;
}

.collab_blocks {
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 30px;
}

.collab p {
	font-size: 16px;
	font-weight: 100;
	line-height: 21px;
	color: #58595b;

}

.c_block {
	float: left;
	width: 231.75px;
	margin-right: 11px;
	background-color: #F5F5F5;
	height: 320px;
}

.c_block_fr {
	height: 347px;
}


.c_block h4 {
	margin: 0;
	padding: 10px 20px;
	/*padding-top: 12px;
	height: 71.5px;
	line-height: 71.5px;
	font-size: 21px;
	font-weight: 100;
	color: #58595b;
	background-color: #D5D6DB;

}

.c_block_fr h4{
	padding: 20px
}

.c_block img {
	max-width: 100%;
	/*width: 200px;
}

.c_block a {
	font-size: 16px;
	font-weight: 100;
	color: #2e95d7;
	margin-left: 30px;
}

.c_block p {
	font-size: 15px;
	font-weight: 100;
	line-height: 18px;
	color: #58595b;
	padding: 15px 30px 0 30px;
	height: 83%;

}

.c_block_fr p{
	padding: 15px 25px;
}

.last_block {
	margin-right: 0;
}

.g-border {
	border: 1px solid #D5D6DB;
	border-bottom: none;
	background-color: #D5D6DB;

}

.learn_footer {
	background-color: #d2d8de;
	height: 128px;
	overflow: hidden;
	margin-bottom: 11px;
}

#learn {
	font-size: 32px;
	font-weight: 100;
	color: #58595b;
	padding-top: 40px;
	padding-bottom: 30px;
}

#bottom_datasheet {
	margin-left: 80px;
}
*/

.footer_a {
    position:relative; 
    bottom  0px;
	margin-top: 73px;
	margin-left: 15px;
	font-size: 14px;
	font-weight: 100;	
	word-spacing: 5px;
	margin-bottom: -64px;
	padding: 7px;
    border-radius: 0px;
 } 
.footer_b {
    position: ; 
    bottom 0px;
	margin-left: 12px;
	height: 35px;
	font-size: 14px;
	font-weight: 100;	
	margin-top: 12px;
	word-spacing: 5px;
	margin-bottom:-4px;
	padding: 7px;
	border-radius: 0px;
	
}
.footer_c{
	margin-left: 30px;
	font-size: 14px;
	font-weight: 100;	
	margin-top: 36px;
	word-spacing: 5px;
	margin-bottom: -30px;
	padding: 7px 5px px 5px;
	border-radius: 0px;
}
.footer_d{
	margin-left: 30px;
	font-size: 14px;
	font-weight: 100;	
	margin-top: 79px;
	word-spacing: 5px;
	margin-bottom: -71px;
	padding: 6px;
	border-radius: 0px;
}
.footer_e{
	margin-left: 30px;
	font-size: 14px;
	font-weight: 100;	
	margin-top: 71px;
	word-spacing: 5px;
	margin-bottom: -19px;
	padding: 6px;
	border-radius: 0px;
}
.footer_f{
	margin-left: 30px;
	font-size: 14px;
	font-weight: 100;	
	margin-top: 132px;
	word-spacing: 5px;
	margin-bottom: -166px;
	padding: 6px;
	border-radius: 0px;
}
.footer_g{
	margin-left: 30px;
	font-size: 14px;
	font-weight: 100;	
	margin-top: 100px;
	word-spacing: 5px;
	margin-bottom: 0px;
	padding: 5px 5px 5px 5px;
	border-radius: 0px;
	
}
	/* footer#global {
		margin: 0px;
		max-width: ;
		bottom: 0px;
		position: relative;
		
		
}  

	.c_block {
		float: none;
		width: 230px;
		height: 300px;
		margin: 0 auto;
		height: auto;
		width: 45%;
		margin-left: 1%;
	}

	.c_block:nth-child(2n+1) {
		background-color: #F2F2F2;
	}
	

	

	.learn_footer {
		height: 158px;
	}

	

}
	Media Queries
====================================*/
	/*@media (min-width: 768px)and 
.col-md-12 {
	width: 100%;
  }
  @media (min-width: 992px)
.col-md-12 {
width: 100%;
  
  	  *.row {
  	  	width: 80%;
  	  }
  	  
}
/*@media screen and (min-width:1000px){

	.body-size {
		/*width: 1152px;*/
	}
}*/
/*@media screen and (max-width: 735px) {
	.gblock {
		width: 33%;
		margin-left: 1%;
	}

	.footer_a ,.footer_b,.footer_c,.footer_d,
	.footer_e,.footer_e,.footer_f,.footer_g{
		float: left;
		margin-top: -20px;
		margin-bottom: 20px;
	}

	.transparent h1 {
	font-size: 64px;
	font-weight: 100;
	line-height: 50px;
	color: #58595b;
	margin-top:100px;
	margin-bottom: 10px;
	}

}*/
@media (min-width:960px)
.container{
float: left;
}
